body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 562.25%;
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
}
.top-container{
    background-color:#DEBACE;
    position: relative;
    padding-top: 6%;
}
.middle-container
{
    height: 200px;
    width: 200px;
    background-color:#BA94D1;
}
.bottom-container
{
    height: 200px;
    width: 200px;
    background-color: #7F669D;
}
.bottom-cloud{
    position: absolute;
    right: 25%;
}
.top-cloud{
    position: absolute;
    left: 350px;
}
.circular{
    border-radius: 100px;
}