body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #66347F;
}
h1{
    font-size: 562.25%;
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
    color: #60487d;
}
h2{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #ba5ca9;
    font-size: 40px;
    padding-bottom: 10px;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #685086;
    font-size: 22px;
}
p{
    font-family: 'Montserrat', sans-serif;
     line-height: 2;
}
hr{
    border: dotted #F7C8E0 6px;
    border-bottom: none;
    width: 3%;
    margin: 100px auto;
}
a{
    color: #ba5ca9;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}
a:hover{
    color: #b07de3;
}
.intro{
    width: 30%;
    margin: auto;
}
.top-container{
    background-color:#e1c3d3;
    position: relative;
    padding-top: 6%;
}
.middle-container
{
    height: 200px;
    width: 200px;
    background-color:#BA94D1;
    margin: 100px 0px;
}
.bottom-section
{
    margin-top: 100px;
    background-color: #e1c3d3;
    padding: 50px 0px 20px;
}
.bottom-cloud{
    position: absolute;
    right: 25%;
    top: 40px;
}
.top-cloud{
    position: absolute;
    left: 25%;
    top: 200px;
}
.circular{
    border-radius: 100px;
}
.middle-section{
    margin-top: 8%;
}
.coding-img{
    width: 30%;
    float: left;
    margin-right: 30px;
}
.guitar
{
    width: 30%;
    float: right;
    margin-left: 30px;
} 
.skill-row{
    width: 65%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.contact-me{
    margin-top: 5%;
}
.contact-message{
    width: 30%;
    margin: 40px auto 60px;
}
.copyright{
    color: #ba5ca9;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    padding: 20px 0px;
}
.btn {
        background: #d17dd1;
        background-image: -webkit-linear-gradient(top, #d17dd1, #8c58c4);
        background-image: -moz-linear-gradient(top, #d17dd1, #8c58c4);
        background-image: -ms-linear-gradient(top, #d17dd1, #8c58c4);
        background-image: -o-linear-gradient(top, #d17dd1, #8c58c4);
        background-image: linear-gradient(to bottom, #d17dd1, #8c58c4);
        -webkit-border-radius: 15;
        -moz-border-radius: 15;
        border-radius: 15px;
        font-family: 'Montserrat', sans-serif;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
.btn:hover {
        background: #b07de3;
        background-image: -webkit-linear-gradient(top, #b07de3, #c185cc);
        background-image: -moz-linear-gradient(top, #b07de3, #c185cc);
        background-image: -ms-linear-gradient(top, #b07de3, #c185cc);
        background-image: -o-linear-gradient(top, #b07de3, #c185cc);
        background-image: linear-gradient(to bottom, #b07de3, #c185cc);
        text-decoration: none;
      }