body{
    margin: 0px;
    text-align: center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 562.25%;
    margin-top: 0px;
    font-family: 'Sacramento', cursive;
}
h2{
    font-family: 'Montserrat', sans-serif;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color: #685086;
}
.top-container{
    background-color:#F7C8E0;
    position: relative;
    padding-top: 6%;
}
.middle-container
{
    height: 200px;
    width: 200px;
    background-color:#BA94D1;
}
.bottom-container
{
    height: 200px;
    width: 200px;
    background-color: #7F669D;
}
.bottom-cloud{
    position: absolute;
    right: 25%;
}
.top-cloud{
    position: absolute;
    left: 350px;
}
.circular{
    border-radius: 100px;
}
.middle-section{
    margin-top: 10px;
}
.coding-img{
    width: 40%;
    float: left;
    margin-right: 30px;
}
.guitar
{
    width: 40%;
    float: right;
    margin-left: 30px;
} 
.skill-row{
    width: 60%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
